* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  overflow-x: hidden;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 425px) {
  .pixel-container {
    flex-direction: row;
  }
}
